@model PPE.Models.Stock

@{
    ViewData["Title"] = "Details Stock";
    ViewBag.Buttons = new List<ButtonModel> {
        new ButtonModel {
            Text = "Back to list",
            Action = "Index",
            Controller = "Stocks",
            ButtonType = "dark"
        }};
}

<dive>
    <h4>
        @ViewBag.Ppe.Title
    </h4>
    <table class="table bg-white">
        <thead>
        <th>Value</th>
        <th>StockIn</th>
        <th>StockOut</th>
        <th>Current Stock</th>
        </thead>
        <tbody>
        @foreach (var item in ViewBag.StockDetailed)
        {
            <tr>
                <td>@item.Value</td>
                <td>@item.StockIn.ToString()</td>
                <td>@item.StockOut.ToString()</td>
                <td>@item.CurrentStock.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
</dive>

