@model IEnumerable<PPE.Models.Stock>

@{
    ViewData["Title"] = "Stock List";
    ViewBag.Buttons = new List<ButtonModel> {
        new ButtonModel {
            Text = "Create stock adjustment",
            Action = "Create",
            Controller = "Stocks",
            ButtonType = "primary"
        }};
}

<div class="bg-white mt-2">
   <table class="table">
       <thead>
           <tr>
               @*<th>
                   @Html.DisplayNameFor(model => model.VariantValue.Variant.Ppe)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.VariantValue.Variant)
               </th>*@
               <th>
                   @Html.DisplayNameFor(model => model.Ppe)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Ppe.Category)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.StockIn)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.StockOut)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.CurrentStock)
               </th>
               <th>
                     @Html.DisplayNameFor(model => model.Ppe.Threshold)
               </th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
   @foreach (var item in ViewBag.StockOfPpe) {
       <tr>
           <td>
               @item.Ppe.Title
           </td>
           <td>
               @item.Ppe.Category.Title
           </td>
           <td>
               @item.StockIn
           </td>
           <td>
               @item.StockOut
           </td>
           <td>
               @item.CurrentStock
           </td>
           <td>
               @item.Threshold
           </td>
           <td>
               <div class="btn-group">
                       @*<a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@item.Ppe.Id">
                           <i class="la la-edit"></i>
                       </a> *@
                       <a asp-action="Details" class="btn btn-sm btn-dark" asp-route-id="@item.Ppe.Id">
                            <i class="la la-eye"></i>
                       </a> 
                   @*<a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">
                       <i class="la la-trash"></i>
                   </a>*@
                   </div>
           </td>
       </tr>
   }
       </tbody>
   </table> 
</div>

