@model IEnumerable<PPE.Models.Employee>

@{
    ViewData["Title"] = "Employees List";
}

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-title">Employees</h3>
            <a asp-action="Create" class="btn btn-primary btn-sm">Create employee</a>
        </div>
        <hr/>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NNI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Function)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NNI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Function.Title)
                    </td>
                    <td>
                        <div class="">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Actions</h6>
                                </li>
                                <li><a class="dropdown-item"  asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                <li>
                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
