@model IEnumerable<PPE.Models.Employee>

@{
    ViewData["Title"] = "Employees List";
    ViewBag.Buttons = new List<ButtonModel> {
        new ButtonModel {
            Text = "Create employee",
            Action = "Create",
            Controller = "Employees",
            ButtonType = "primary"
        }
    };
}

<div class="card-body bg-white">
    <div class="card-header">
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <label> <i class="la la-filter"></i>Project</label>
                <select class="form-control select2" id="filter-project">
                    <option></option>
                    @foreach (var project in ViewBag.Projects)
                    {
                        <option value="@project.Id">@project.Title</option>
                    }
                </select>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label><i class="la la-filter"></i>Function</label>
                <select class="form-control select2" id="filter-function">
                    <option></option>
                    @foreach (var function in ViewBag.Functions)
                    {
                        <option value="@function.Id">@function.Title</option>
                    }
                </select>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label><i class="la la-filter"></i>Search by (name, phone, nni)</label>
                <input type="text" class="form-control" placeholder="-- Search --" id="filter-name">
            </div>
        </div>
    </div>
    <table class="table responsive w-100"
           data-column="firstName,lastName,nni,project,function,actions"
           data-url="/api/employees">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NNI)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Function)
            </th>
            <th></th>
        </tr>
        </thead>
        @*<tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NNI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Function.Title)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-dark" asp-action="Details" asp-route-id="@item.Id">
                                <i class="la la-eye"></i>
                            </a>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="la la-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="la la-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>*@
    </table>
</div>
