@model ContentHeaderModel

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">
            @Model.Title
        </h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">@Model.Title</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12 mb-2 mb-md-0">
        @foreach (var button in Model.Buttons)
        {
            <div class="btn-group float-md-right" role="group" >
                <a class="btn btn-@button.ButtonType rounded-sm" 
                   asp-action="@button.Action" 
                   asp-controller="@button.Controller">
                    @button.Text
                </a>
            </div>
        }
    </div>
</div>

