@model IEnumerable<PPE.Models.Transporteur>

@{
    ViewData["Title"] = "List Transporteurs";
    ViewBag.Buttons = new List<ButtonModel> {
        new ButtonModel {
            Text = "Create New",
            Action = "Create",
            Controller = "Transporteurs",
            ButtonType = "primary"
        }
    };
}

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Tel)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Employee.ShoeSize)
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Size)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Tel)
                    
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.ShoeSize)
                    
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Size)
                    
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>