@model IEnumerable<PPE.Models.Ppe>

@{
    ViewData["Title"] = "List PPEs";
    ViewBag.Buttons = new List<ButtonModel> {
        new ButtonModel {
            Text = "Create New",
            Action = "Create",
            Controller = "Ppes",
            ButtonType = "primary"
        }
    };
}

<div class="bg-white table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Threshold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Threshold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="la la-edit"></i>
                        </a> 
                        <a class="btn btn-sm btn-dark" asp-action="Details" asp-route-id="@item.Id">
                            <i class="la la-eye"></i>
                        </a> 
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="la la-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
