@model PPE.Models.Project

@{
    ViewData["Title"] = "Details Project - " + Model.Title;
    ViewBag.Buttons = new List<ButtonModel> {
        new ButtonModel {
            Text = "Back to list",
            Action = "Index",
            Controller = "Projects",
            ButtonType = "dark"
        }};
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
    </dl>
</div>

<h5> Stock of PPEs</h5>
<table class="table bg-white">
    <thead>
    <th>Ppe</th>
    <th>StockIn</th>
    <th>StockOut</th>
    <th>Current Stock</th>
    <th>Details</th>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.GroupedStocks)
    {
        <tr>
            <td>@item.Ppe.Title</td>
            <td>@item.StockIn.ToString()</td>
            <td>@item.StockOut.ToString()</td>
            <td>@item.CurrentStock.ToString()</td>
            <td>
                <form asp-action="ProjectStockDetails" asp-controller="Projects" method="get">
                <input type="hidden" name="projectId" value="@Model.Id">
                <input type="hidden" name="ppeId" value="@item.Ppe.Id">
                <button type="submit" value="Details" class="btn btn-dark btn-sm">
                <i class="la la-eye"></i>
                </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

