@using PPE.Data.Enums
@model PPE.Models.EmployeeStock

@{
    ViewData["Title"] = "Dotations";
    ViewBag.Buttons = new List<ButtonModel>
    {
        new ButtonModel
        {
            Text = "Back to list",
            Action = "Index",
            Controller = "EmployeeStocks",
            ButtonType = "dark",
        }
    };
    var typeDotation = // enum TypeDotation
        Enum.GetValues(typeof(TypeDotation))
            .Cast<TypeDotation>()
            .Select(v => new SelectListItem
            {
                Text = v.ToString(),
                Value = ((int)v).ToString()
            });
}

@*<div class="card-body bg-white">
    <div class="row">
        <div class="col-12 col-lg-3">
            <h5>@Html.DisplayNameFor(model => model.FullName) | @Html.DisplayNameFor(model => model.Phone) </h5>
            <strong>@Html.DisplayFor(model => model.FullName) | @Html.DisplayFor(model => model.Phone)</strong>
        </div>
        <div class="col-12 col-lg-3">
            <h6>@Html.DisplayNameFor(model => model.Project)</h6>
            <strong>@Html.DisplayFor(model => model.Project!.Title)</strong>
        </div>
        <div class="col-12 col-lg-3">
            <h6>@Html.DisplayNameFor(model => model.Function)</h6>
            <strong>@Html.DisplayFor(model => model.Function!.Title)</strong>
        </div>
        <div class="col-12 col-lg-3">
            <h6>@Html.DisplayNameFor(model => model.Size) | @Html.DisplayNameFor(model => model.ShoeSize)</h6>
            <strong>@Html.DisplayFor(model => model.Size) | @Html.DisplayFor(model => model.ShoeSize)</strong>
        </div>
    </div>
</div>*@

<section class="card-body bg-white">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="projectId" value="@ViewData["ProjectId"]">
        <input type="hidden" name="functionId" value="@ViewData["FunctionId"]">
        <input type="hidden" name="EmployeeId" value="@ViewData["EmployeeId"]">
        <input type="hidden" name="StockIn" value="1">
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <label asp-for="Date" for=""></label>
                <input type="date" class="form-control" name="Date">
                <span class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label for="">Category</label>
                <select name="CategoryId" 
                        data-live-search="true" 
                        data-placeholder="-- Select Category --" 
                        class="form-control select2 categorySelect">
                    <option></option>
                    @foreach(var category in ViewBag.Category)
                    {
                        <option value="@category.Id">@category.Title</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label>Ppe</label>
                <select
                    name="PpeId"
                    data-live-search="true"
                    data-placeholder="-- Select Ppe --"
                    class="form-control select2 ppeSelect">
                </select>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label> Variant </label>
                <select
                    name="ppeAttributeCategoryAttributeValueId"
                    data-live-search="true"
                    data-placeholder="-- Select Variant --"
                    class="form-control select2 valueSelect">
                </select>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label>Type dotation</label>
                <select
                    name="typeDotation"
                    data-live-search="true"
                    data-placeholder="-- Select Type dotation --"
                    class="form-control select2">
                    <option></option>
                    @foreach (var item in typeDotation)
                    {
                        <option value="@item.Value">@item.Text | @item.Value</option>
                    }
                </select>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label asp-for="StockIn"></label>
                <input type="number" class="form-control" name="Quantity" asp-for="StockIn">
                <span asp-validation-for="StockIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mt-2">
            <button class="btn btn-info" type="submit">Save changes</button>
        </div>
    </form>
</section>

@section Scripts
{
    <script >
        $(document).ready(function() {
            $('.select2').select2();
            $('.categorySelect').on('change', function() {
                let categoryId = $(this).val();
                let ppeSelect = $('.ppeSelect');
                ppeSelect.empty();
                $.ajax({
                    url: '/EmployeeStocks/GetPpes',
                    type: 'GET',
                    data: { categoryId: categoryId, projectId: @ViewBag.ProjectId },
                    success: function (data) {
                        ppeSelect.html(data)
                    }
                });
            });
            
            $('.ppeSelect').on('change', function() {
                let ppeId = $(this).val();
                let valueSelect = $('.valueSelect');
                valueSelect.empty();
                $.ajax({
                    url: '/EmployeeStocks/GetAttributesValues',
                    type: 'GET',
                    data: { ppeId: ppeId, projectId: @ViewBag.ProjectId },
                    success: function (data) {
                        console.log(data)
                        valueSelect.html(data)
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            });
        })
    </script>
}

 



