@model PPE.Models.ProjectStock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectStock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PpeAttributeCategoryAttributeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpeAttributeCategoryAttributeValue.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
